body {
    margin: 0;


}

#navbar {
    display: flex;
    position: fixed;
    background-color: orange;
    top: 0;
    left: 0;
    justify-content: flex-end;

}

.nav-list {
    display: flex;

}

ul {
    list-style: none;

}

#navbar li {
    padding: 0 5px !important; 
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

#welcome-section {

}

.welcome-section {
    display: flex; 
    height: 100vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: darkmagenta;
    align-items: center;
}

#projects {
    text-align: center;

}

